# Entorno virtual
.venv/

# Python
__pycache__/
*.py[cod]

# Herramientas
.pytest_cache/
.ruff_cache/

# IDE
.vscode/
.idea/

# Sistemas operativos
.DS_Store
Thumbs.db

# Datasets reales
data/raw/*
!data/raw/.gitkeep